* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  -webkit-animation: slide-in-fwd-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
  animation: slide-in-fwd-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
  background: rgb(50, 50, 50);
  background: linear-gradient(180deg, rgb(50, 50, 50) 0%, rgb(29, 29, 29) 50%, rgb(13, 13, 13) 100%);
}
body a {
  text-decoration: none;
  color: #f8f8f8;
}
body a:hover {
  color: white;
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
.headerStyles {
  background: rgb(60, 60, 60);
  background: linear-gradient(180deg, rgb(60, 60, 60) 0%, rgb(36, 36, 36) 50%, rgb(24, 24, 24) 100%);
}
.headerStyles picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.headerStyles picture a {
  text-decoration: none;
  color: #f8f8f8;
}
.headerStyles picture a h1 {
  font-family: "Russo One", sans-serif;
  font-size: 50px;
  width: 100%;
  font-weight: bold;
}

nav {
  background-color: rgb(60, 60, 60);
  background-size: cover;
  padding: 10px 0px 4px 0px;
}
nav ul {
  width: 100%;
  height: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  list-style: none;
}
nav ul li {
  position: relative;
  display: inline-block;
  font-family: "Russo One", sans-serif;
  font-size: 18px;
  width: 17%;
  height: 25px;
}
nav ul li:hover ul {
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-animation: swing-in-top-fwd 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
nav ul li:hover ul a {
  text-align: left;
  color: white;
  font-size: 20px;
}
nav ul li:hover ul a:hover {
  background-color: #04c734;
  transform: scale(1.1);
  font-size: 21px;
}
nav ul li:hover {
  transform: scale(1.1);
  background-color: #04c734;
  color: white;
}
nav ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}
nav ul ul {
  width: 150px;
  background-color: rgb(60, 60, 60);
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  text-align: center;
}
nav ul ul li {
  background-color: rgb(60, 60, 60);
  display: block;
  height: 40px;
  width: 200px;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
footer {
  background: rgb(60, 60, 60);
  background: linear-gradient(180deg, rgb(60, 60, 60) 0%, rgb(36, 36, 36) 50%, rgb(24, 24, 24) 100%);
}
footer .logoTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .logoTitle h2 {
  font-family: "Russo One", sans-serif;
  font-size: 45px;
  width: auto;
  color: white;
}
footer .miniLogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 10px;
}
footer .miniLogo picture img:hover {
  transform: scale(1.2);
  transition: transform 1s 600ms;
}

.row {
  padding: 0px;
}

.mainTitle {
  padding-top: 10px;
}
.mainTitle .subTitle {
  font-family: "Russo One", sans-serif;
  font-size: 25px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
}

.destacados {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 3px solid gray;
  padding-bottom: 10px;
}
.destacados .gameHovering:hover {
  transform: scale(1.06);
  transition: transform 1s 500ms;
}
.destacados h3 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  height: 20px;
  width: 100%;
  text-align: center;
}

.last {
  padding: 15px 15px;
}
.last .subTitle {
  font-family: "Russo One", sans-serif;
  font-size: 25px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flexImg {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.flexImg picture {
  padding-bottom: 10px;
}
.flexImg picture h4 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  height: 20px;
  width: 100%;
  text-align: center;
  padding-top: 6px;
}
.flexImg picture:hover {
  transform: scale(1.04);
  transition: transform 1s 500ms;
}

.asideOffers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.asideOffers a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.asideOffers a h5 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  height: auto;
  width: 75%;
}
.asideOffers a p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  height: auto;
  width: 100%;
}
.asideOffers a .gameOffer-1::before, .asideOffers a .gameOffer-4::before, .asideOffers a .gameOffer-3::before, .asideOffers a .gameOffer-2::before {
  content: "$2,800";
  text-decoration: line-through;
  color: gray;
}
.asideOffers a .gameOffer-2::before {
  content: "$800";
}
.asideOffers a .gameOffer-3::before {
  content: "$2,600";
}
.asideOffers a .gameOffer-4::before {
  content: "$3,700";
}
.asideOffers h2 {
  font-family: "Russo One", sans-serif;
  font-size: 25px;
  width: 100%;
  color: white;
  text-align: center;
  padding: 5px 5px;
}
.asideOffers picture {
  text-align: center;
}
.asideOffers picture a:hover {
  transform: scale(1.1);
  transition: transform 1s 500ms;
}

.categoriesTitle {
  padding-top: 10px;
}
.categoriesTitle h2 {
  font-family: "Russo One", sans-serif;
  font-size: 25px;
  width: auto;
  color: white;
  text-align: center;
}

.flexCarousel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-bottom: 30px;
}
.flexCarousel .carouselWidth {
  width: 70%;
}
.flexCarousel h5 {
  color: white;
  font-size: 30px;
}
.flexCarousel .simText {
  color: black;
}

.requirementsTitle {
  padding: 10px;
}
.requirementsTitle h3 {
  font-family: "Russo One", sans-serif;
  font-size: 25px;
  width: auto;
  color: white;
  text-align: center;
}

.imgLabel h5 {
  font-family: "Russo One", sans-serif;
  font-size: 25px;
  width: auto;
}

.loginTitle {
  padding: 10px;
  font-family: "Russo One", sans-serif;
  font-size: 25px;
  width: auto;
  color: white;
  text-align: center;
}

.flexForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}
.flexForm .loginBtnLabel {
  color: white;
}
.flexForm .registerBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flexForm .registerBtn p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  height: auto;
  width: auto;
  color: white;
}

.registerTitle {
  padding: 10px;
}
.registerTitle h2 {
  font-family: "Russo One", sans-serif;
  font-size: 25px;
  width: auto;
  color: white;
  text-align: center;
}

.formLabel {
  width: 95%;
  padding-left: 60px;
  padding-bottom: 20px;
}
.formLabel label {
  color: white;
}
.formLabel .loginBtn p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  height: auto;
  width: auto;
  color: white;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
