.asideOffers {
    @include flex(column, space-between, center);

    a {
        display: flex;
        flex-direction: column;
        align-items: center;

        h5{
            @include normaltext(15px, auto, 75%);
        }

        p{
            @include normaltext(15px, auto, 100%);
        }

        .gameOffer-1::before {
            content: "$2,800";
            text-decoration: line-through;
            color: gray;
        }

        .gameOffer-2::before {
            @extend .gameOffer-1, ::before;
            content: "$800";
        }

        .gameOffer-3::before {
            @extend .gameOffer-1, ::before;
            content: "$2,600";
        }

        .gameOffer-4::before {
            @extend .gameOffer-1, ::before;
            content: "$3,700";
        }
    }

    h2{
        @include titles(25px, 100%);
        color: white;
        text-align: center;
        padding: 5px 5px;
    }

    picture{
        text-align: center;

        a:hover {
            transform: scale(1.1);
            transition: transform 1s 500ms;
        }
    }
}