.row {
    padding: 0px;
}

.mainTitle {
    padding-top: 10px;
    .subTitle {
        @include titles(25px, 100%);
        color: white;
        display: flex;
        justify-content: center;
    }
}

.destacados {
    @include flex(row, space-evenly, center);
    border-bottom: 3px solid gray;
    padding-bottom: 10px;

    .gameHovering:hover {
        transform: scale(1.06);
        transition: transform 1s 500ms;
    }

    h3{
        @include normaltext(20px, 20px, 100%);
        text-align: center;
    }
}

.last {
    padding: 15px 15px;
    .subTitle { 
        @include titles(25px, 100%);
        color: white;
        @include flex(row, center, center);
    }
}

.flexImg {
    @include flex(row, space-around, center);
    flex-wrap: wrap;
    gap: 5px;

    picture {
        padding-bottom: 10px;

        h4{
            @include normaltext(18px, 20px, 100%);
            text-align: center;
            padding-top: 6px;
        }
        &:hover {
            transform: scale(1.04);
            transition: transform 1s 500ms;
        }
    }
}

.flexNav {
    padding-top: 20px;
    ul {
        @include flex (row, center, center);
        list-style: none;

        li{
            padding: 3px 20px 3px 20px;
            background-color: rgb(60,60,60);
            
            &:hover{
                background-color: #04c734;
                cursor: pointer;
            }
            a{
                color: rgb(197, 197, 197);
            }
        }
    }
}