.categoriesTitle {
    padding-top: 10px;
    h2 {
        @include titles(25px, auto);
        color: white;
        text-align: center;
    }
}

.flexCarousel {
    @include flex(column, space-around, center);
    justify-content: center;
    gap: 30px;
    padding-bottom: 30px;
    .carouselWidth {
        width: 70%;
    }
    h5 {
        @include textColor(white);
        font-size: 30px;
    }
    .simText {
        @include textColor(black);
    }
}

