@media (max-width: 768px) {

    /**Tablet header**/

    nav {
        background-color: rgb(60,60,60);
        background-size: cover;
        padding: 10px 0px 4px 0px;
        ul {
            width: 100%;
            height: 15px;
            @include flex(row, space-around, flex-start);
            list-style: none;
            li{
                position: relative;
                display: inline-block;
                @include titles(18px, 17%);
                height: 25px;
                a {
                    width: 100%;
                    height: 100%;
                    @include flex(row, center, center);
                    color: white;
                }
            }
            ul {
                width: 150px;
                background-color: rgb(60,60,60);
                position: absolute;
                visibility: hidden;
                opacity: 0;
                z-index: 5;
                text-align: center;
                li {
                    background-color: rgb(60,60,60);
                    display: block;
                    height: 40px;
                    width: 200px;
                }
            }
        }
    }

    /**Main-index tablet**/

    .destacados {
        img {
            width: 350px;
            height: 197px;
        }
    }

    /**Footer tablet**/

    .miniLogo{
        img {
            width: 50px;
            height: 50px;
        }
    }
}